<ion-header>
  <ion-navbar color="primary"> <!--navbar всегда юзается в хедере-->
         <button menuToggle> <!--функция на баттоне menuToggle-->
            <ion-icon name="menu"></ion-icon> <!--добавляем икноку меню-->
         </button>
    <ion-title>Elite Schedule</ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary">  <!--цвет, прописанный в sccs-->
    <ion-title>My Teams</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <button ion-button (click)="goToTournaments()">Find the tournament</button>
</ion-content>

