<ion-header>
  <ion-navbar color="primary"> <!--navbar всегда юзается в хедере-->
         <button menuToggle> <!--функция на баттоне menuToggle-->
            <ion-icon name="menu" class="sus"></ion-icon> <!--добавляем икноку меню-->
         </button>
    <ion-title>Elite Schedule</ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary">  <!--цвет, прописанный в sccs-->
    <ion-title>My Teams</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>Followed teams</ion-list-header>
    <button ion-item *ngFor="let fav of favorites" (click)="favoriteTapped($event, fav)">
      <ion-icon name="star"></ion-icon>
      {{fav.team.name}}
      <p>{{fav.tournamentName}}</p>
    </button>
  </ion-list>
  <button ion-button full (click)="goToTournaments()">
    <ion-icon name="search"></ion-icon>
    &nbsp; <!--// probel-->
    Find the tournament
  </button>
</ion-content>

